<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head', { name, description, image, quality }); %>
</head>

<body class="container">
<header>
  <%- include('./partials/header'); %>
</header>
<main>
  <div class="jumbotron">
    <div class="row">
      <div class="quality-box"></div>
      <div><h1><%= name %></h1></div>
    </div>
    <div class="jumbotron-content" align="center">
      <div><img src="<%= image %>" alt="<%= name %>" width="500" height="500"></div>
      <div>
        <a href="<%= bptfUrl %>">Backpack.tf</a>
        <a href="<%= bptfNextUrl %>">Backpack.tf Next</a>
      </div>
      <div>
        <a href="https://marketplace.tf/items/tf2/<%= sku %>">Marketplace.tf</a>
        <a href="https://prices.tf/items/<%= sku %>">Prices.tf</a>
      </div>
    </div>
  </div>

  <script>
    const elem = document.querySelector('.quality-box');
    elem.style.backgroundColor = "<%= quality %>";
  </script>
</main>
<footer>
  <%- include('./partials/footer'); %>
</footer>
</body>
</html>