<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head', { name, description, metaImage, quality }); %>
</head>

<body class="container">
<header>
  <%- include('./partials/header'); %>
</header>
<main>
  <div class="jumbotron">
    <div class="row">
      <div class="quality-box"></div>
      <div><h1><%= name %></h1></div>
    </div>
    <div class="jumbotron-content">
        <img src="<%= image %>"></img>
        <a href="https://marketplace.tf/items/tf2/<%= sku %>">Marketplace.tf</a>
        <a href="<%= bptfUrl %>">Backpack.tf</a>
    </div>
  </div>

  <script>
    const elem = document.querySelector('.quality-box');
    elem.style.backgroundColor = "<%= quality %>";
  </script>
</main>
<footer>
  <%- include('./partials/footer'); %>
</footer>
</body>
</html>