<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= name %> | TF2Autobot</title>
  <meta name="title" content="<%= name %> | TF2Autobot">
  <meta name="description" content="<%= description %>">
  <meta name="image" content="<%= image %>">
  <%- include('./partials/head'); %>
</head>

<body class="container">
<header>
  <%- include('./partials/header'); %>
</header>
<main>
  <div class="jumbotron">
    <h1><%= name %></h1>
    <div class="jumbotron-content">
        <img src="<%= image %>"></img>
        <a href="https://marketplace.tf/items/tf2/<%= sku %>">Marketplace.tf</a>
        <a href="<%= bptfUrl %>">Backpack.tf</a>
    </div>
  </div>
</main>
<footer>
  <%- include('./partials/footer'); %>
</footer>
</body>
</html>