<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= name %> | TF2Autobot</title>
  <meta name="title" content="<%= name %> | TF2Autobot">
  <meta name="description" content="<%= description %>">
  <meta name="image" content="<%= image %>">
  <%- include('./partials/head'); %>

  <style>
    .websites a:link, a:visited {
        background-color: #f44336;
        color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    .websites a:hover, a:active {
        background-color: red;
    }

    .websites img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    padding-right: 5em;
    padding-left: 5em;
    }

    .jumbotron {
      background-color: rgb(226, 215, 215);
    }

    .jumbotron h1 {
      color: #222;
    }

    a {
      color: #0033cc;
    }

    @media (prefers-color-scheme: dark) {
      .jumbotron {
        background-color: #242525;
      }

      .jumbotron h1 {
        color: rgb(226, 215, 215);
      }

      .jumbotron h1 a {
        color: #809fff;
      }
    }
  </style>
</head>

<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1><%= name %></h1>
    <div class="websites">
        <img src="<%= image %>"></img>
        <a href="https://marketplace.tf/items/tf2/<%= sku %>">Marketplace.tf</a>
        <a href="<%= bptfUrl %>">Backpack.tf</a>
    </div>
  </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>