  <title><%= name %> | TF2Autobot</title>
  <meta property="og:title" content="<%= name %> | TF2Autobot">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:image" content="<%= image %>">
  <meta name="theme-color" content="<%= quality %>">

  <%- include('../../common/head'); %>

  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel='stylesheet' href="/assets/css/items/customs.css?version=1.0.4">

  <style>
    a.footerD:link, a.footerD:visited {
        color: #6c757d;
    }

    a.footerD:link:active, a.footerD:visited:active {
        color: #6c757d;
    }
  </style>