  <title><%= name %> | TF2Autobot</title>
  <meta name="title" content="<%= name %> | TF2Autobot">
  <meta name="description" content="<%= description %>">
  <meta name="image" content="<%= image %>">

  <%- include('../../common/head'); %>

  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel='stylesheet' href="/assets/css/items/customs.css?version=1.0.2">
