  <title><%= name %> | TF2Autobot</title>
  <meta name="title" content="<%= name %> | TF2Autobot">
  <meta name="description" content="<%= description %>">
  <meta name="image" content="<%= image %>">

  <%- include('../../common/head'); %>

  <!-- CSS (load bootstrap from a CDN) -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"> -->
  <!--
  /*!
  * Bootstrap v4.5.2 (https://getbootstrap.com/)
  * Copyright 2011-2020 The Bootstrap Authors
  * Copyright 2011-2020 Twitter, Inc.
  * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
  /*# sourceMappingURL=bootstrap.min.css.map */
  -->

  <link rel='stylesheet', href="/assets/css/items/twitterbootstrap.css?version=1.0.0">
  <link rel='stylesheet', href="/assets/css/items/customs.css?version=1.0.2">